[2020-10-06 12:59] nitzan-upstream opened #3 "Is this action support wait for workflow in a different repo?"
Hello,

Let's say I have workflow-A in repo-A which trigger with repository dispatch Workflow-B in repo-B and we want to wait in Workflow-A for Workflow-B to finish, is this possible? If so can you please provide an example?

Thank you

[2020-10-07 09:37] progapandist commented on #3
Hi! It's not possible in the current implementation as it always looks in the current repo, see here https://github.com/lewagon/wait-on-check-action/blob/b55701e44d3c36232ee23a65e4baf1b5b60791eb/entrypoint.rb#L6

If you want to try forking and passing more arguments to the action, including the repo name — you can try to test if that works, a PR would be welcome!

[2020-10-12 18:42] tristanlatr opened #4 "Waiting the end of a matrix run"
Hello

I have a workflow file like

[code]

The issue is that the job names are automatically generated from the OS and python version...
How to wait until all those tests are run ?

Thanks

[2020-10-26 11:32] progapandist commented on #4
Hi! Thank you for using our little action. The only solution I see at the moment is hardcoding those job names, exactly as you did in a referenced commit. The job name has to be known, as an external call to Checks API that drives this action requires it :(

[2020-11-27 17:59] Billy- commented on #4
Hi, firstly, thanks for this action!

I'd also like to be able to wait for all tests to pass. In my case, when a PR is merged we run our release, which in turn pushes back a release commit to our master branch, which doesn't run any jobs at all. We have an auto-approve action for automatic update PRs, which then get auto-merged. I'd like the auto-approve action to wait if master is currently runni

[2020-11-27 19:22] Billy- commented on #4
I just kinda realised this doesn't necessarily totally solve the original issue here. Only because it allows waiting for _all_ checks but not _some_ checks.

I would guess the best approach for that would be to allow passing some sort of glob/regex e.g `checkName: "my-job-*-py*"` and/or allowing an array of checks being passed?

[2020-11-28 11:38] progapandist commented on #4
I would have to play with matrix runs more to give some valuable input here. None of my workflows require them ATM. Can you give me an example of an open repo that I can fork and try?

[2020-11-28 16:31] Billy- commented on #4
I have never played with matrix runs either.. I should probably have opened another issue for the PR I created (and still can if you like) as I'm not sure it specifically addresses this issue.. although it may help.

My PR simply waits for all checks, which may be fine if the matrix is the only thing running checks, but of course if there are other checks then it'd wait for those too. Also assumin

[2020-12-07 16:54] ayozemr opened #7 "The requested check was never run against this ref, exiting..."
Hello!

I am using your action to solve a problem I have:
- Workflow builds api on every push
- We want e2e workflow to run on PRs to master -> Runs using build artifact

So I set up a new workflow with your action, I used github.sha as ref because it runs in pushes to the PR.

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - master

name: Wait

[2020-12-09 08:42] YonatanKra commented on #7
I get the same thing....

[2020-12-10 15:51] rrijkse commented on #7
I solved this by running with `uses: lewagon/wait-on-check-action@master` haven't done a deep dive to figure out what's changed since the release but in my case it I was trying to use the feature from PR #6 which doesn't seem to be released yet.

[2020-12-17 13:39] ayozemr commented on #7
Thanks @rrijkse , will try

[2020-12-18 12:22] progapandist commented on #7
Let me know if it worked! I think I have to get serious about it and start a Changelog and regular release shedule, will be on it right after the New Year! For now using `master` is the best bet

[2021-01-03 18:59] kzu opened #9 "Can only run action on Linux?"
When using `runs-on: windows-latest`
I get: `Error: Container action is only supported on Linux`

Should this combination be supported?

[2021-01-04 09:07] progapandist commented on #9
Unfortunately, yes :)

[2021-01-04 09:07] #9 closed

[2021-01-04 17:48] kzu commented on #9
Would be good to make that more obvious in the action description 😉

[2021-01-07 10:13] owen2345 commented on #7
Hey here, I am having the same problem.
I have 3 testing workflows + 1 continuous deployment workflow.
After the first 3 workflows successfully completed, CD workflow "CD" is still stuck:
<img width="452" alt="Screen Shot 2021-01-07 at 6 06 13 AM" src="https://user-images.githubusercontent.com/1148415/103879910-d3a0e280-50ae-11eb-8a03-11aa676388d6.png">

**Hints**:
Maybe the checker is expecting f

[2021-01-07 10:22] progapandist commented on #7
hi @owen2345 — can you please send me the example code from your workflow that uses the `wait-on-check`?

[2021-01-07 10:36] owen2345 commented on #7
Sure @progapandist
[code]
Please let me know if you need anything else to find the problem.
Thank you!

[2021-01-07 11:05] progapandist commented on #7
Thank you! Try passing `ref: ${{ github.sha }}` instead of `ref: ${{ github.event.pull_request.head.sha || github.sha }}`. Frankly, I don't understand the use case for having a conditional between SHAs

[2021-01-07 11:06] progapandist commented on #7
Maybe omitting check name for all checks doesn't work as expected. Can you try waiting for all three testing checks explicitly one after another and see if that works?

[2021-01-07 11:44] owen2345 commented on #7
Unfortunately it did not work (the same problem "it still stuck").
Additionally I noticed that when one of the workflows failed, my CD workflow is still stuck. I think it should fail/cancel too.

[2021-01-07 11:49] progapandist commented on #7
Unfortunately I don’t see an immediate answer. Try referring to wait-on-check-action@v0.1, do one test at a time, and pass check names explicitly. If it works, then it must be a regression in master but I have no time to investigate urgently.

[2021-01-07 18:31] matiasalbarello commented on #7
The problem seems to be that the workflow is waiting for itself to finish in order to continue. When the `check-name` is specified, this is not a problem.

[2021-01-07 18:46] progapandist commented on #7
Yes, that means https://github.com/lewagon/wait-on-check-action/pull/6 probably messed it up. Sorry for the oversight. I will try to investigate, but haven’t got a lot of free time on my hands rn. If someone can see the problem clearly and make a quick PR - that will be much appreciated!

[2021-01-07 18:52] progapandist commented on #7
For now the solution would be to wait on check name explicitly, don’t omit it, as @matiasalbarello mentioned (thanks!)

[2021-01-09 19:23] progapandist commented on #7
Should be fixed thanks to https://github.com/lewagon/wait-on-check-action/pull/10 (🙌  @matiasalbarello), please check and confirm so I can close this issue

[2021-01-11 16:53] codetheweb commented on #7
I believe #10 introduced a new issue:
https://github.com/Baton-donation/backend/runs/1682419913?check_suite_focus=true#step:5:7

[2021-01-11 16:56] progapandist commented on #7
Thanks for letting me know, will fix tonight

[2021-01-11 18:18] progapandist commented on #7
https://github.com/lewagon/wait-on-check-action/commit/bafe56a6863672c681c3cf671f5e10b20abf2eaa — this should fix it, please check @codetheweb 🙏

[2021-01-11 19:09] codetheweb commented on #7
Looks like it's working now, thank you!

Could you tag it too please so I can pin the version?

[2021-01-11 19:12] progapandist commented on #7
Sure, will do it now, it's a long time coming...

[2021-01-11 19:18] progapandist commented on #7
https://github.com/lewagon/wait-on-check-action/releases/tag/v0.2 🎉  big thanks to everyone involved! I will close the issue, feel free to reopen if any more corner cases surface

[2021-01-11 19:18] #7 closed

[2021-01-15 10:36] Billy- opened #12 "Allow skipped checks?"
Hi :wave:

I have just added some jobs which get skipped on my master branch - and this has caused the wait-on-check action to fail :slightly_smiling_face:

My initial thought is that the action could consider skipped checks a success. What do you think? If this doesn't seem like something you'd want to do, maybe we could add a parameter to control how you want it to behave? Something like `allowS

[2021-01-19 06:47] progapandist commented on #12
I'll take a look into this, thanks for reporting!

[2021-01-19 06:50] progapandist opened #13 "Test actions don't wait when run manually"
Ping @matiasalbarello :)

Currently, [this line](https://github.com/lewagon/wait-on-check-action/blob/8261ca4a3d0175489f9d95c613a097757158ff91/.github/workflows/simple_task.yml#L15) doesn't seem to do anything (see https://github.com/lewagon/wait-on-check-action/runs/1725958933?check_suite_focus=true)

What if we make the `simple_check` action take some considerable time anyway? (and rename it acc

[2021-01-19 07:20] progapandist commented on #12
If you want to give it a try (I think having an `allow_skipped` flag and enabling it by default is the best UX here) and make a PR — we now have a nice test coverage by @matiasalbarello, and the "test" actions in this repo. Just LMK, if not — I'll take care of it myself when my hands a less full.

[2021-01-19 14:05] matiasalbarello commented on #13
I'll take a look. I didn't check the manual triggering

[2021-01-19 14:27] progapandist commented on #13
Basically all we need is a longer running job that one can manually trigger and then manually trigger jobs that depend on it

[2021-01-22 16:02] #13 closed

[2021-01-25 03:47] AraHaan commented on #12
@progapandist what about the case where I got to like do the following:

- pull request build succeeds.
- pull request executes another workflow (automerge)
- pull request also executes another job in the build workflow (which should wait till the automerge workflow in the pull request succeeds and merge the pull request before doing anything in that job (this job checks for updates with ``git sub

[2021-01-25 05:46] AraHaan opened #19 "Rename master branch to main"
This is something that most *if not all* of github is moving to due to the fact that the branch name of ``master`` could mean something bad.

This is why people suggested to github to have it where any future repositories would have ``main`` as the default branch name instead of ``master``.

[2021-01-28 15:34] matiasalbarello commented on #12
@progapandist can we make a release with the last changes that solve this issue so we can close it?

[2021-01-28 15:34] matiasalbarello commented on #12
Sorry, closed by mistake.

[2021-01-28 15:36] matiasalbarello commented on #4
@tristanlatr, does the current implementation with regular expressions solve this issue?

[2021-01-28 16:48] progapandist commented on #12
Sure! Can you please draft a quick CHANGELOG to describe everything we added since the last release and then I will bump it? Then we can keep adding to that CHANGELOG when/if we add more features. Let's call this one 0.3

[2021-02-08 23:59] emmanuelvisage commented on #12
Hi, thanks for this github action, it's very useful.
What exactly qualifies as a 'skipped check' ? Because I have a check in a migration workflow that sometimes isn't triggered  in the run (because there is no new migration) and the wait on this check breaks with "The requested check was never run against this ref, exiting..." although I am on the master branch and it says it's checking on the "su

[2021-02-10 09:56] progapandist commented on #12
@Billy- — you are the feature author, anything to add?

[2021-02-20 04:30] marten-seemann opened #25 "doesn't work on branches"
The following workflow works fine if I run it on `master` (with `on: [ push, pull_request ]`), but it fails to detect any tests when running on the pull request branch. On that branch, it immediately returns, even though tests are still running.

[code]

Sample run: https://github.com/marten-seemann-test/target/runs/1940299479?check_suite_focus=true.
I assume this is because for some reason, it do

[2021-02-24 05:16] marten-seemann commented on #25
After further debugging, the problem seems to be that for pull requests, GitHub is creating a (temporary) merge commit, and `github.sha` is the pointing to the sha of that merge commit, not the commit that triggered the build.

In order to wait for the tests of that PR to finish, one has to use `ref: ${{ github.event.pull_request.head.sha }}`.

I consider this issue resolved from a technical point

[2021-02-25 17:43] acostalima commented on #25
I can confirm this behavior on my end as well.

[2021-03-06 16:29] progapandist commented on #25
Great! I'm totally down for updating the README to reflect that. Pop a quick PR and I'll merge it  🙏
Hope it does not impact the rest of your workflows and you're still using this little action!

[2021-03-09 16:45] Intrepidd opened #26 "Support for timeout"
Hi ! 🇫🇷

I am using this action to manually deploy my app, but I don't want to wait, I want to check for the completed status, and if it's ok, release, otherwise, fail.

I didn't manage to find an other existing action to do it, maybe you have suggestions ?

Otherwise, one "hack" could be to support a timeout, and in my case set it to a low value like 10 seconds.

WDYT ?

[2021-03-11 08:27] progapandist commented on #26
Hi! Thanks for opening an issue. Can you please describe your case in more detail? What sort of "manual" deploy are we talking about?

[2021-03-11 08:59] Intrepidd commented on #26
My staging environment is auto-deployed
However, I don't want to autodeploy my prod environment and I want to choose when to deploy it.

I trigger a workflow manually [thanks to the workflow_dispatch event](https://github.blog/changelog/2020-07-06-github-actions-manual-triggers-with-workflow_dispatch/)

[2021-03-16 19:55] acostalima commented on #25
@marten-seemann since you were the one to first report the issue, you'd you like to do the honors?

[2021-03-21 17:37] konserw opened #27 "Windows support"
Hi!
I've got windows-based workflow and would like to use this action, but it appears to be linux-only, i.e. Github tells me:
[code]
Could you please add windows support?

[2021-04-01 11:33] progapandist commented on #27
Hi! I would welcome the PR doing that, but so far none of our builds use Linux and I currently have no free time to dig into that. All contributions are welcome though!

[2021-04-05 08:34] roybh1 opened #28 "Exception raised on waiting for all jobs to finish"
Hi,
We are using this plugin to wait on all checks on pull request to allow dynamic CI jobs with BORS (merge queuing)
The step sometimes fail on:
`/usr/bin/docker run --name e4f55beca1679d4d5e9e170cc080dc764b_ec7072 --label 5588e4 --workdir /github/workspace --rm -e INPUT_REF -e INPUT_REPO-TOKEN -e INPUT_WAIT-INTERVAL -e INPUT_RUNNING-WORKFLOW-NAME -e INPUT_CHECK-NAME -e HOME -e GITHUB_JOB -e GITH

[2021-04-12 07:00] progapandist commented on #28
Hi! Please try using `lewagon/wait-on-check-action@master`, a lot of things has been fixed since the release and it's hight time I bump a version (still can't get to it though). Tell me if it solved your problem :)

[2021-05-03 21:56] CWSites opened #29 "The requested check was never run against this ref"
@progapandist if you have a moment can you please help me out?

* I am explicitly naming my jobs
* I'm using `github.sha`
* It worked when I did everything against `master` but now it's not working with my default branch set to `develop`?
* I'm using `@master` so that I have latest.

I'm running into the same problem as #7 and using the sha `bafe56a6863672c681c3cf671f5e10b20abf2eaa` which should h

[2021-05-03 22:05] CWSites commented on #29
Looks like using `lewagon/wait-on-check-action@master` fixes the issue, I guess the particular `SHA` which fixed it before still had some bugs.

[2021-05-05 14:47] CWSites commented on #29
This has been working fine for the past few days and today it started failing. I haven't changed my config at all and I'm able to verify that the SHA I am passing in is actually being run. Is this a race condition?

[2021-05-06 04:15] BlueDrink9 commented on #29
Affecting me too

[2021-05-07 13:21] CWSites commented on #29
I updated my jobs to use the `sha` instead and I haven't run into this issue since. I think it is an issue with the same `ref` being targeted by multiple actions.

[2021-05-07 20:44] BlueDrink9 commented on #29
Which SHA? The latest commit to master?

[2021-05-08 00:19] CWSites commented on #29
Correct, when you are dispatching a workflow you can pass a `client-payload: '{"ref": "${{ github.ref }}", "sha": "${{ github.sha }}"}'`

After that you can use it like so
[code]

[2021-05-08 08:18] BlueDrink9 commented on #29
Ah, with dispatch being an additional dependency. The documentation says that it won't work for non-default branches, so it looks like I will have to wait for this issue to be solved.

[2021-05-09 05:42] BlueDrink9 commented on #29
It turns out I wasn't using the correct check. When I ran the api call with `curl` from the README, the workflow name didn't show up, only the individual jobs within it. Also, they were suffixed by the python version in the build matrix I had for them, so it looked like `pytest (3.9)` etc.

Still, that leaves no way to use this to wait for an entire extra workflow, only waiting on the individual j

[2021-05-10 21:47] CWSites commented on #29
I'm running mine against master on merge. If master is your default branch then you could make this work. If you supply a name that will overwrite whatever weird thing that it's using.

[2021-05-14 14:37] CWSites commented on #29
Where does it say that it won't work for non-default branches? I saw that it won't work for other repositories but not branches.

[2021-05-14 15:12] CWSites commented on #29
I can't find anywhere in the documentation for this workflow which states that the default branch must be used. I updated my default to be `develop` and I am using this workflow on my `master` branch anytime there is a merge. Since making this change I am continuously getting the error `The requested check was never run against this ref`.

I have verified that the Dispatch job is using the same `S

[2021-05-14 16:04] CWSites opened #30 "Fails when not using `default` branch?"
I can't find anywhere in the documentation for this workflow which states that the default branch must be used. I updated my default to be `develop` and I am using this workflow on my `master` branch anytime there is a merge. Since making this change I am continuously getting the error `The requested check was never run against this ref`.

I have verified that the Dispatch job is using the same `S

[2021-05-14 16:04] CWSites commented on #29
Closing this one in favor of #30 since the original issue has been resolved.

[2021-05-14 16:04] #29 closed

[2021-05-17 09:17] progapandist commented on #30
thank you for reporting! I will try to investigate when I have some free time on my hands

[2021-06-24 02:54] cyanglaz opened #31 "Feature request: reduce outputs"
The wait-on-check produces a lot of outputs. Sometimes it made the GitHub web UI hang when trying to see the result. It would be nice to have a flag to make the output less verbose.
Maybe something like:
[code]

Maybe the output can just be like:
[code]

[2021-06-24 08:56] progapandist commented on #31
Thank you for reporting. I will find time to take a look at it, but for now I'm a bit swamped with work projects, so I wouldn't expect a quick resolution, thank you for understanding!

[2021-06-24 15:02] cyanglaz commented on #31
@progapandist Thanks for the quick response.
Do you think `verbose: false` (true by default) is a good solution to this?
Or maybe `output: false` (true by default), which omits all the outputs.

[2021-06-24 15:03] progapandist commented on #31
I'd go with verbose!

[2021-07-08 15:34] JoelLefkowitz opened #33 "Missing trigger-test-workflows.sh."
In the README it is mentioned that ./github/trigger-scripts/trigger-test-workflows.sh triggers tests to run but the script does not exist.

[2021-07-08 15:43] JoelLefkowitz opened #34 "Feature request: Improved output when check-name is incorrect."
Currently if check-name is incorrect the output is:

[code]

Since the action already fetches all check_runs, maybe we can report the names that the user may have meant:

[code]

[2021-07-08 15:45] JoelLefkowitz opened #35 "Feature request: Allow a list of check-names."
Currently you can specify a single job name with 'check-name' or you can wait for all checks to pass with 'running-workflow-name'. There are situations when you may want to wait for two jobs to complete in parallel before continuing.

[2021-07-09 08:35] progapandist commented on #33
thank you for noticing that. all the checks now run in Github Actions, no local script required.

[2021-07-14 08:31] matiasalbarello commented on #35
Hi @JoelLefkowitz. I'll take a look.

[2021-07-14 12:14] progapandist commented on #35
hey @matiasalbarello, thank you for coming back to the project :) I am actually leaving the company in a couple of months and will possibly have no time to keep maintaining this one (I haven't had any already, in months). would you like to take this repo up as a maintainer? For starters, would be great to actually release current master

of course it's fine if you're taken up too, then we can keep

[2021-07-14 13:44] JoelLefkowitz commented on #35
I'm happy to be a maintainer too if you'd like

[2021-07-14 13:47] progapandist commented on #35
That would be amazing. I will give you push access once I'm back at the computer. Super grateful there's interest to maintain this little project.

[2021-07-15 05:43] matiasalbarello commented on #35
Hi @progapandist. Thanks for the consideration. But given the time I could dedicate to this project, I think I'll keep being just a Collaborator. I'll try to be around more frequently though.

[2021-07-19 07:36] progapandist commented on #35
@JoelLefkowitz, I just invited you as a maintainer, welcome to the project and feel free to discuss everything with @matiasalbarello who contributed a very big deal to this repo and has probably the most expert opinion on the current project structure

[2021-07-21 16:31] JoelLefkowitz commented on #35
Thanks @progapandist , will do.

[2021-07-27 17:43] kevinawoo opened #38 "Add a new parameter `ignore-check-names`"
Currently, we can wait for all the jobs to finish, or we can wait for 1. When https://github.com/lewagon/wait-on-check-action/issues/35 is implemented that would allow us to wait for N number of checks.

It would be awesome if we could also "wait for everything except for X check(s)" as well. This way we'd can always wait for jobs to complete except for jobs we we'd want to ignore.

[2021-08-03 21:06] boldandbusted commented on #30
Ooh, I was about to change the Default branch on a repo that uses this Action (thank you)...

[2021-08-03 21:08] boldandbusted opened #39 "Couple usage/user questions"
Thanks for this Action. I have a couple questions:

* What is the purpose of 'wait-interval'? Does it have a default setting if it is unset?
* What is the timeout of this Action - or will it wait 'forever'?

Cheers! :)

P.S. Sorry, one more. Am I reading this Yaml right and seeing that the workflow is waiting on... itself? https://github.com/lewagon/wait-on-check-action/blob/master/.github/workflo

[2021-08-12 18:57] ditman commented on #31
I've had more luck by looking at the Raw logs, instead of attempting to read them through the Github interface:

<img width="919" alt="Screen Shot 2021-08-12 at 11 25 55 AM" src="https://user-images.githubusercontent.com/1255594/129253023-482fd3ec-1a5f-4647-ba1f-99ab73eb4ee1.png">

_(Important bit: do not attempt to open the "Wait on all tests" step, that's the part that breaks the browser!)_

[2021-08-12 19:15] ditman opened #40 "The action only waits for 30 checks"
We've noticed that in some cases the `wait-on-check` action is not waiting for all our checks ([here](https://github.com/flutter/flutter/issues/88120)).

It seems that some of the method calls in the Checks API might have a `per_page` parameter that is not being passed and defaults to 30? [Docs](https://docs.github.com/en/rest/reference/checks#list-check-runs-in-a-check-suite)), so if one has more

[2021-08-12 19:21] ditman commented on #40
(I'm going to try and send a PR increasing the `per_page` limit to 100 in the relevant API call :) )

[2021-08-12 19:28] ditman commented on #40
After looking at the code: `client.check_runs_for_ref` [here](https://github.com/lewagon/wait-on-check-action/blob/3ac63078fe8644f15c807e6419c8a8a1ec7913f1/app/services/github_checks_verifier.rb#L24) looks a lot like this API: [List check runs for a Git reference](https://docs.github.com/en/rest/reference/checks#list-check-runs-for-a-git-reference).

[2021-08-12 19:40] ditman commented on #31
Also: conditionally not printing the full output of the Checks API call [here](https://github.com/lewagon/wait-on-check-action/blob/3ac63078fe8644f15c807e6419c8a8a1ec7913f1/app/services/github_checks_verifier.rb#L25) would go a looooong way to fixing the issue, IMO.

Or, to not lose much usability of the non-verbose logs, printing an abridged version of the API response, with the name of the check

[2021-08-18 07:46] matiasalbarello commented on #39
Hi @boldandbusted.
I'm sorry that the documentation is still a bit out of date regarding the features implemented.

Probably the most up to date documentation regarding the params is what you can find in the action.yml:
[code]

And it can probably get improved.
- The `wait-interval` is the time between requests to the GitHub API to gather information from the running checks.
- Regarding the timeou

[2021-08-18 07:50] matiasalbarello commented on #38
Hi @kevinawoo.
It's an interesting feature. We'll have it in mind.
Thanks!

[2021-08-23 18:24] #39 closed

[2021-08-24 16:37] quinnturner opened #45 "Add a tag: `v1`"
Currently, the tag is `1` or `1.0.0`. This goes against the typical standard set on GitHub by prefixing with `v` (including previous releases).

Consider adding a tag `v1`

[2021-08-24 19:16] matiasalbarello commented on #45
I did not understand what's wrong with https://github.com/lewagon/wait-on-check-action/releases/tag/1.0.0

[2021-08-24 22:01] quinnturner commented on #45
The previous releases were: wait-on-check@v0.2

Now, the syntax is:
wait-on-check@1

(Noting the missing v). Typically, GitHub releases include the v. Either way, it's good to update the readme with the correct version.

[2021-09-04 05:33] matiasalbarello commented on #40
Now, with the next version release, the action will be capable of waiting up to 100 jobs. Thanks @ditman!

[2021-09-04 05:33] #40 closed

[2021-09-06 00:00] efraespada opened #47 "Add support for macOS machines"
When defining:

[code]

Produces:
[code]

[2021-09-08 17:47] ditman commented on #40
Thanks @matiasalbarello! We'll update to the latest hash/release ASAP!

[2021-09-10 21:39] matiasalbarello commented on #47
Hi @efraespada. I'm actually working on it. I'll be releasing a new version soon (this weekend)

[2021-09-11 20:17] matiasalbarello commented on #47
Fixed here: https://github.com/lewagon/wait-on-check-action/pull/48

[2021-09-11 20:17] #47 closed

[2021-09-11 20:25] matiasalbarello commented on #34
Hi @JoelLefkowitz. This looks like a feature that could be easily added. I'll label it as a good first issue for anyone who would like to collaborate.

[2021-09-11 20:27] #33 closed

[2021-09-11 20:37] matiasalbarello commented on #12
Hi @emmanuelvisage. Here you can find an example of a skipped job: https://github.com/lewagon/wait-on-check-action/blob/master/.github/workflows/wait-for-allowed-conclusions.yml
So, a skipped job actually has run (at least it belongs to a workflow triggered by some event) but finished with a status of `skipped`.
If the workflow is not triggered (as you mentioned, for example, because a certain eve

[2021-09-11 20:37] #12 closed

[2021-09-11 20:39] matiasalbarello commented on #27
Hi @konserw. The release v1.1.0 gives support to Windows and MacOS self-hosted runners. Enjoy!

[2021-09-11 20:39] #27 closed

[2021-09-11 20:41] matiasalbarello commented on #28
Hi @roybh1. Could you confirm that this issue persists using the last version (v1.1.0)? Thanks!

[2021-09-11 20:44] matiasalbarello commented on #26
Hi @Intrepidd. I'm still not sure if I understood your case scenario. Are you using this action as a conditional to run other workflows? Could you share some examples (yml)? Thanks!

[2021-09-11 20:45] matiasalbarello commented on #31
Fixed on #42

[2021-09-11 20:45] #31 closed

[2021-09-11 20:48] #4 closed

[2021-09-12 04:24] instil-ed opened #49 "missing gemfile running on ubuntu 20.04.3"
Hi, I've noticed wait-on-check-action started failing today (9/11). We run on ubuntu. The error output is:
[code]

 I saw there was a merge today that might be a root cause, as I do notice the new logic that installs the bundle instead of running the dockerfile. Just to be sure, I also tried running the previously working sha (5e937358caba2c7876a2ee06e4a48d0664fe4967), and it worked. I'm not too f

[2021-09-12 06:10] matiasalbarello commented on #49
Could you share a sample of your workflow?

[2021-09-12 06:25] instil-ed commented on #49
Sure, here's a snippet of the job. Thank you for taking a look!
[code]

[2021-09-12 11:02] Intrepidd commented on #26
Hi !

I use it as a condition to check my tests are green. Here is the beginning of my workflow :

[code]

[2021-09-12 14:28] matiasalbarello commented on #49
Thanks! I'll take a look tonight. In the meantime, I've rolled back the las release. Everything should work as before.
Sorry for the inconveniences!

[2021-09-13 10:56] efraespada commented on #47
Thanks @matiasalbarello 😄

[2021-09-13 11:21] matiasalbarello commented on #47
Sorry, I had to roll back the last release. Will deploy it again soon.

[2021-09-13 15:44] instil-ed commented on #49
Hi! Wanted to let you know that master is functional again. Thank you for the quick rollback. :)

[2021-09-16 19:31] matiasalbarello commented on #26
Well, I think it's not functionality you should expect from this action but rather a feature you already have from GH Actions out of the box. If some of the checks that are being waited for end with a not allowed conclusion (see [allowed conclusions](https://github.com/lewagon/wait-on-check-action#allowed-conclusions)), then the whole action will fail. You can use this result to make further steps

[2021-09-16 19:57] Intrepidd commented on #26
Yes I use this action every day and it works fine :)

The only issue is that it will wait one whole minute before failing if the check is still running, which is ok but could be optimized ;)

[2021-09-16 20:39] matiasalbarello commented on #49
Hi @instil-ed. I just published a pre-release version. I tested it but would be great if you could give it a try as well. Just point to v1.1.1 and it should work as before. Thanks!

[2021-09-16 20:41] matiasalbarello commented on #47
Hi @efraespada. There's a pre-release version that you could try: v1.1.1. Please let me know if you find any problems. I'll be testing it for some time and probably will finally be the latest stable version.

[2021-09-16 23:38] instil-ed commented on #49
@matiasalbarello ran it through a few scenarios that include a failed workflow, a successful workflow and many workflows. They all behave as expected.

[2021-09-18 18:38] #49 closed

[2021-09-22 13:13] everspader opened #52 "Error: The environment variable ImageOS must be set ruby/setup-ruby action"
I'm running in the following error after the latest update of the action.
I think it's related to [this](https://github.com/lewagon/wait-on-check-action/commit/315a64d9b7fd4d626bb4c1cdd4984351db862b97#diff-7314d0ebbd2e9537ae4889316745b4fd2fa43cb86275c9caae18a86ba228b642R19) in the new release.
because the [ruby-setup action](https://github.com/ruby/setup-ruby/blob/57d46d78b7d959dc4a248024a29bb17d4

[2021-09-25 20:02] matiasalbarello commented on #52
Hi @everspader, thanks for your report. Could you share your yaml?

[2021-09-27 12:19] everspader commented on #52
This is my CI workflow. I'm currently using version `v1.0.0` and it works nicely but it breaks with `@master`. I have a similar workflow for building on my staging branch that didn't seem to be affected.
[code]

[2021-10-03 19:05] matiasalbarello commented on #52
Hi @everspader. I'll need some time to see this issue in detail. Apparently, some adjustments need to be done in order to use the last version of this action on some self-hosted runners. Please keep using the previous stable version (1.0.0) as it works for you and there are no new features in the last release but only support to macOS and Windows GH runners.

[2021-10-06 12:35] efraespada commented on #47
I'll check it ASAP. Thanks for your work ;)

[2021-10-16 13:04] JoelLefkowitz commented on #34
PR in #34

[2021-12-01 22:36] #3 closed

[2021-12-01 23:54] jurgen-weber-deltatre commented on #25
I am trying to get this to work with a dependabot PR where it rebases if you commit to it everytime.

If I use the GH CLI, my PAT works using the branch name.

[code]

but this
[code]

I have tried using the following as the ref:
github.event.pull_request.head.sha
github.head_ref
github.sha

[2021-12-04 18:19] waylun commented on #25
@jurgen-weber-deltatre got the same issue today

[2021-12-13 17:36] Alexander-Betz opened #56 "How to use this action to pause a job until the same job in previous workflow runs finished?"
Hello,

I have one workflow that might run in parallel multiple times (the same workflow file). I want a job in the workflow to wait until the same job in previous workflow runs finished. I thought I could use this action like that:
[code]
But this results in all workflows being stuck (I assume because the job in the workflow is waiting for itself ?).

Can you tell me how I can pause a job until t

[2021-12-27 07:56] yeshwant-hotstar opened #57 "This check is only supported in Linux not macos"
Run lewagon/wait-on-check-action@v1.0.0
  with:
    ref: refs/heads/main
    check-name: CI test
    repo-token: ***
    wait-interval: 10
    allowed-conclusions: success,skipped,cancelled
    verbose: true
Error: Container action is only supported on Linux

[2022-01-03 08:10] matiasalbarello commented on #57
Hi @yeshwant-hotstar. Actually the version that introduces compatibility with MacOS is the latest [v1.1.1](https://github.com/lewagon/wait-on-check-action/releases/tag/v1.1.1)

[2022-01-03 08:11] matiasalbarello commented on #57
If you find any issue, be aware of this other one: https://github.com/lewagon/wait-on-check-action/issues/52

[2022-01-11 03:09] jeanlescure commented on #4
Since this is a top google result, here's a workaround I used for my case:

[code]

I needed to run the tests one after another due to a rate limit that, even though was taken into account at code level, when running 4 jobs in parallel it would easily hit the rate limit due to sending multiple requests at the same time.

With this workaround I even got this nice alternate view of the tests 😄

![20

[2022-01-26 14:28] iblancasa opened #59 "[Bug] Crash when API limit is reached"
I was using this GitHub action when it failed because I reached the API limit. It would be nice if the GitHub Action can wait some time before doing the next query to the API instead of crashing.

[code]

Used version: `1.1.1 `

[2022-02-07 07:25] h0x0er opened #61 "What permissions do the GitHub Actions need?"
This GitHub Actions  uses the GITHUB_TOKEN. Can you please tell me what [permissions](https://github.blog/changelog/2021-04-20-github-actions-control-permissions-for-github_token/) are used for this token? If the permissions are only used in certain conditions, e.g. when a certain input is specified, please share that info as well.

At https://github.com/step-security/secure-workflows we are build

[2022-02-24 20:00] CWSites commented on #30
This is still an issue?

[2022-03-07 17:26] matiasalbarello commented on #61
Hi @h0x0er. Thanks for your message. You're right, the documentation is not up to date with that change. I'll try to update it ASAP. For the time being, I'd say that the only required permission is the read checks:
[code]
The only GH API call that it does is through Oktokit client's method [check_runs_for_ref](https://rdoc.info/gems/octokit/Octokit%2FClient%2FChecks:check_runs_for_ref).

Feel free

[2022-04-04 02:05] codezninja opened #62 "Feature: Support for GHE"
Is it possible to add Github Enterprise support? Reading the [ruby docs](https://github.com/octokit/octokit.rb#working-with-github-enterprise), it seems like we just need to configure `api_endpoint` if an ENV is.

If it's that easy I can open a PR but wanted to confirm first.

[2022-04-05 20:26] DaveSys911 commented on #25
@marten-seemann Big thanks on posting the workaround
Should be added to the examples

[2022-04-06 07:22] matiasalbarello commented on #57
Please let me know if the inquiry/issue was resolved. If not, feel free to re-open it.

[2022-04-06 07:22] #57 closed

[2022-04-06 14:59] #26 closed

[2022-04-07 05:43] alexgocariq opened #64 "not able to trigger workflow in another repo"
I tried to use another workflow dispatch and while exploring the issue I had someone advised me to use your dispatch.
I have repo which finished to build the container and in my job I tried to dispatch to another workflow in a different repo
![image](https://user-images.githubusercontent.com/102247868/162128102-2fea44c6-f789-4195-b2a1-246359fac168.png)
Not sure if your action support dispatch to w

[2022-04-27 15:29] #56 closed

[2022-05-10 17:00] kroehre commented on #59
Have you tried https://github.com/lewagon/wait-on-check-action#wait-interval-optional-default-10 ? Sounds like that's what you're asking for.

[2022-05-10 17:07] kroehre commented on #39
https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepstimeout-minutes can be used to set a timeout

[2022-05-10 19:51] uri200 opened #65 "Support for MacOS"
Hi, awesome project.
Will you ever considered to support MacOS?

Right now we are getting this
[code]

[2022-05-11 08:03] iblancasa commented on #59
Yes

[2022-05-17 19:48] matiasalbarello commented on #65
Hi. Thanks for using this simple action. Which version are you using? The last one should support macOS. If not, could you provide some workflow example? Thanks in advance!

[2022-05-17 19:53] matiasalbarello commented on #59
Hi @iblancasa. Yes you tried (and didn’t work) or yes it worked? So far, that waiting interval is the only mechanism to make less api calls.
What would you suggest?

[2022-05-18 15:11] iblancasa commented on #59
Sorry. My message was not clear.

Yes, I tried and it didn't work. Actually, the stacktrace I pasted in my first message is using that parameter.

I would expect to not have a crash: keep trying until the GitHub action timeouts or something except a crash. Probably print a message saying: "I can not perform this task because this reason" and fail

[2022-06-09 07:34] sshane opened #66 "Repo key is required from v1.0.0"
When updating from v0.2 to v1.0.0, I noticed that the repo key is a requirement now, is there any reason for this? Accessing the runs for a repo seems to be public still.

The error I get when I don't specify `repo-token`: https://github.com/commaai/openpilot/runs/6807857911?check_suite_focus=true

[code]

[2022-06-16 15:25] karkir0003 opened #68 "Requested check never run against ref"
@progapandist I'm having this exact issue even when I change to using the `master` version and changing `{{github.ref}}` to `{{github.sha}}`. Any other fixes I can try?

[2022-06-17 02:01] karkir0003 commented on #64
@progapandist

[2022-07-03 19:14] #66 closed

[2022-07-03 19:19] matiasalbarello commented on #66
Fixed on v1.1.2

[2022-07-10 13:01] demberto commented on #68
Not sure if this is the same but I just had the same issue

[code]

[code]

[2022-07-13 20:27] egor-yolabs opened #71 "running-workflow-name does not work consistently"
From my testing over a couple of weeks, the functionality behind the "running-workflow-name" param is unreliable and will not always wait until all the other checks finish despite what the docs say. It does work most of the time, but there is a race condition. From my observation there is some period of time after a job finishes and another job (with a dependency on the first job) gets queued. If

[2022-07-24 00:43] ramseydsilva commented on #71
In my case, just using:
[code]
also leads to inconsistent results. Sometimes the check incorrectly assumes that the tasks have run. I have noticed that this happens when there are multiple jobs running, but possibly also happens otherwise.

[2022-08-02 22:45] kpfleming commented on #25
The examples now use `${{ github.ref }}` instead of `${{ github.sha }}`; does that also address this issue?

[2022-08-03 10:06] kpfleming commented on #25
... and the answer is no, that does not work. I now have this pair of steps in my workflow:

[code]

[2022-08-22 18:50] renatoaug commented on #56
Was this resolved? I have the same scenario as you and all workflows are paused

[2022-08-25 01:12] nicknovitski commented on #68
I'm encountering this problem too and I'm pretty sure that it's because of pagination.  [Check out the api docs for listing check run s for a git reference](https://docs.github.com/en/rest/checks/runs#list-check-runs-for-a-git-reference):

[You can see in the action's current source that it does not specify this value when calling `check_runs_for_ref`](https://github.com/lewagon/wait-on-check-acti

[2022-08-25 04:36] demberto commented on #68
I just place all dependant workflows on a single file nowadays

[2022-09-02 13:32] jacktattersall1 opened #73 "Wait on all jobs by omitting running-workflow-name not working for amplify check hook"
Hi, i am having issues with waiting on an aws amplify deploy check to complete

[code]

 I  have omitted **running-workflow-name:** as to force this job to wait for all other jobs, as specifying the amplify job name wasn't working either.

<img width="1083" alt="image" src="https://user-images.githubusercontent.com/16635565/188156407-6656dc64-d3a5-416d-8e20-e3a21f37e1cc.png">

Maybe the config is

[2022-09-03 08:44] talwat commented on #73
For me it's not working either, even when I do include `running-workflow-name`

[2022-09-05 08:14] jacktattersall1 commented on #73
for reference, heres the result of the curl command to gh api

[code]

[2022-09-06 16:12] ArcticLampyrid commented on #73
I've tried to write such an action on my own.
https://github.com/ArcticLampyrid/action-wait-for-workflow
[code]

[2022-10-11 21:34] tamilselvanmp commented on #35
is it done? can we wait for one or more checks to complete?

[2022-10-20 08:55] pingvinen commented on #68
I am experiencing this, because the jobs that I am waiting for, is itself dependent on other jobs (using `needs`), which Actions seems to handle by not actually creating the job until those other jobs have completed.

[2022-10-21 10:27] #62 closed

[2022-11-23 16:15] brianjmurrell commented on #3
The current code for entrypoint.rb on master seems quite different than https://github.com/kelu27/wait-on-check-action/commit/c1f750667217f02a7099.

So is foreign repository support in current master?

[2022-11-29 00:19] ditman opened #76 "Deprecation warnings from dependencies?"
Hello team!

We're using lewagon/wait-on-check-action, and we've started seeing deprecation warnings coming from the dependencies of the action in [our logs](https://github.com/flutter/plugins/actions/runs/3542087063):

**ruby/setup-ruby@1.81.0**

[code]

**actions/cache@v2**

[code]

Also a warning about "Node.js 12 actions being deprecated" for both of the above:

[code]

**Is this something tha